<!DOCTYPE text/css />
/* <!-- Most Widely Supported CSS Features:

    rgba();
    hsla();
    opacity();
    border-radius (except Opera)
    canvas

--- Library / Reference
    background-image: url("res/MplsNicollet.png");
    background-attachment: fixed;

    border-radius: 10px;
    -mox-border-radius: 10px;
    -webkit-border-radius: 10px;

    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=60);
-->

#popup
{
    position: absolute;
    color: rgb(200, 200, 200);
    padding: 20px, 20px, 20px, 20px;
    background-color: rgb(80,80,80);
}

@font-face
{
    font-family: 'inconsolata';
    src: url('files/inconsolata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

html, body
{
}

body
{
    margin: 0px;
    font-family: Arial;
    position: absolute;
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
}
img.folio
{
    position:auto;
    max-width: 640px;
    width:100%;
}
.header
{
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 4;
    overflow-x: hidden;
    overflow-y: hidden;
    opacity: .7;
}
.content
{
    position: relative;
    width: 100%;
    top: 0;
}
.leftish
{
    position: absolute;
    top: 0px;
    left: 0%;
    width: 10%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    overflow-x: visible;
    visibility: visible;
    z-index: 2;
    font-family: Courier;
}
.centrish
{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 80%;
    max-width: 640px;
    overflow-x: visible;
    text-align: center;
    z-index: 3;
}
.rightish
{
    position: absolute;
    top: 0px;
    left: 90%;
    width: 10%;
    max-height: 8192px;
    overflow-x: visible;
    overflow-y: hidden;
    background-color: rgba(0,0,0,1);
    visibility: visible;
    z-index: 2;
    font-family: Courier;
}
#banner {
    position: relative;
    top: -200px;
    width: 100%;
    min-height: 400px;
    min-width: 700px;
}
.writing1
{
    position: absolute;
    max-height: 330px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 640px;
    z-index: 5;
    background-color: rgba(0,0,0,1);
}
#none { }
.images1
{
    position: absolute;
    top: 320px;
    opacity: 1.0;
    max-width: 640px;
    margin-top: 30px;
}
